{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>myblog</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrgrRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "monokai.css" %}">
    <link rel="stylesheet" href="{% static "1.css" %}">
    <link rel="icon" href="{% static "ico.png" %}" type="image/x-icon"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container"></div>
<div class="container">
    <div class="page-header border-gr row">
        <div class="col-md-1 col-xs-3">
            <a href="{% url 'index' %}"><img style="height:80px;width:80px  " src="{% static "ico.png" %}"></a>
        </div>
        <div class="col-md-2 col-xs-8" style="cursor:pointer; margin-top: 10px" onclick="window.open('{% url 'index' %}');">
            <h1>萤火
                <small>Blog</small>
            </h1>
        </div>

        <div class="col-md-3 col-xs-8 col-md-offset-6 col-xs-offset-4" >
            <form role="search" method="get" class="input-group " id="searchform" style="margin-top: 13%"  action="{% url 'haystack_search' %}">
                <input type="search" name="q"  class="form-control" placeholder="Search for..." required>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% block main %}
                {% endblock main %}
            </div>
            <div class="col-md-4">
                {% block sider %}
                {% endblock sider %}
            </div>
        </div>
        {% block page %}
        {% endblock page %}
    </div>
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</body>

</html>